* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
}

h2 {
  margin: 2rem 0;
  font-size: 1.25rem;
}

form {
  margin: 1rem auto;
  max-width: 90%;
  width: 100%;
  padding: 1rem;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.form-row .col-auto {
  flex: 1;
  min-width: 8rem;
  max-width: 50%;
}

.form-row label {
  width: 100%;
  max-width: 14rem;
  display: inline-block;
}

input,
select,
textarea,
label {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
}

input {
  width: auto;
  max-width: 100%;
  min-width: 8rem;
  flex-grow: 1;
}

button {
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  height: auto;
  margin: 0.25rem 0;
}

.table-container {
  max-height: calc(100vh - 20rem);
  overflow-y: auto;
  border: 1px solid #dee2e6;
  position: relative;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  position: sticky;
  top: 0;
  background-color: rgb(27, 82, 119);
  color: white;
  z-index: 1;
  font-size: 0.8rem;
  text-align: center;
}

tbody td {
  text-align: center;
}
