<main>
  <h2>Calculadora de Empréstimos</h2>
  <form>
    <label for="dtInicial">Data Inicial</label>
    <input type="date" id="dtInicial" name="dtInicial">

    <label for="dtFinal">Data Final</label>
    <input type="date" id="dtInicial" name="dtFinal">

    <label for="dtPrimeiroPagamento">Primeiro Pagamento</label>
    <input type="date" id="dtPrimeiroPagamento" name="dtPrimeiroPagamento">

    <label for="vlrEmprestimo">Valor Empréstimo</label>
    <input type="number" id="vlrEmprestimo" name="vlrEmprestimo">

    <label for="txJuros">Taxa de Juros</label>
    <input type="number" id="txJuros" name="txJuros">
  </form>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>twitter</td>
      </tr>
    </tbody>
  </table>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>twitter</td>
      </tr>
    </tbody>
  </table>
</main>
